body {
  margin: 0;
  padding: 0;

  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: rgb(80, 80, 80);
  color: rgb(255, 218, 218);
}

.imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 25px;
}
.galleryImage {
  width: 250px;
  height: 250px;
}
